<p>There will be a QTAU workshop at the <a href="http://marathon.tomodachi.de/">Anime Marathon 2018</a>.</p>
<p>Vocaloid is singing voice synthesizer software developed by Yamaha and the Pompeu Fabra University in Barcelona. Sinsy and UTAU are two singing synthesizers released after VOCALOID. With UTAU everyone can record their own voices. Tomoko (crossplaying as Hatsune Miku) will show you, how to create your own songs using the computer and adding an artificial singer.</p>
