<p>New release of Sinsy-NG</p>
<p>Sinsy-NG version 0.99 NEW! OLD-based singing voice synthesis system. It is designed to work as a backend for QTAU. <a href="https://notabug.org/isengaara/2018-voice/raw/master/sinsy-ng-0.99.tar.gz">Download</a></p>
<p>eCantorix-SG Grav-Mass 2018 NEW! compact speech synthesizer that supports 102 languages and accents. This is needed for Sinsy-NG <a href="https://notabug.org/isengaara/2018-voice/src/master/ecantorix-sinsy-ng-gravmass-2018.tar.gz">Download</a></p>
<p>New human voice synthesizer implementation <a href="https://notabug.org/isengaara/2018-voice/raw/master/2018_New_human_voice_synthesizer_implementation.pdf">Download</a></p>
