<p>Synthesizer V, the Revolutionary Singing Synthesizer was released today. It is non-free software compiled for Windows and 64 bit Ubuntu 16.04. It runs on older ThinkPads, but it won't run on my <a href="https://raptorcs.com/">Talos II</a>.</p>
<p>By contrast QTAU and it's dependencies are released under various GPLv3 compatible licenses. QTAU is an Evolutionary Singing Synthesizer that will remain free as in freedom. QTAU includes an engine called eCantorix2 that will even run on weak computers such as the BeagleBone Black and the <a href="https://www.crowdsupply.com/eoma68/micro-desktop">EOMA68-A20</a>.</p>
<p>I plan to include a technical preview in GuixSD by the end of this year. The current version already compiles with Guix: <a href="https://notabug.org/isengaara/ongakunix-guix" class="uri">https://notabug.org/isengaara/ongakunix-guix</a></p>
<p>Unlike Synthesizer V, QTAU includes support for many European languages such as Swedish, Czech and German. Since it mainly uses eSpeak-NG as a synthesizer it also supports English, Mandarin Chinese and in recent versions Japanese. For corpus based synthesis v.Connect-STAND can be used with UTAU compatible voicebanks, including <a href="http://hal-the-cat.music.coocan.jp/ritsu_e.html">Namine Ritsu Connect</a>. v.Connect-STAND produces a much more natural sound than most formant based singing synthesizers.</p>
<p>QTAU can also run without a GUI and act as a replacement for <a href="https://freebsoft.org/singing-computer">Milan Zamazal's Singing Computer</a></p>
